src/

# Development files
.DS_Store
.env
*.log
coverage/

# Config files 
tsconfig.json
eslint.config.js

# Yarn files
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

tests/
__tests__/
*.test.ts
*.spec.ts 