characters/*
!characters/character.example/
.cookies/
memories/
!src/config/
dsn-twitter-schemas.json
agent-memory-viewer/backend/src/config/agents.yaml

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Logs
*.log

# IDE specific files
.vscode/
.idea/
.DS_Store

.cache/
node_modules/

# SQLite database files
*.sqlite
*.sqlite3
*.db

# SQLite database
*.sqlite
*.sqlite-journal

resources/
threads.json
cookies.json

*.bin
data