characters/*
!characters/character.example/
.cookies/
.google/
memories/
!src/config/
certs/

# Docker
docker-compose-*.yml
!docker-compose-template.yml

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
.env

dist/
downloads/

*.log

# IDE specific files
.vscode/
.idea/
.DS_Store

.cache/
node_modules/

# SQLite database files
*.sqlite
*.sqlite3
*.db

# SQLite database
*.sqlite
*.sqlite-journal

*.gz
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged

*.tgz