name: Code Quality Check

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  code-quality:
    name: Lint & Format Check
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "21"
          cache: "yarn"
          cache-dependency-path: "./yarn.lock"

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Check Formatting
        run: yarn format:check

      - name: Run ESLint
        run: yarn lint
